<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grocery Items index page</title>
    </head>
    <body>
        <h1>Grocery Items index page</h1>


        <nav>
          <a href="/grocery-items/new">Create a New Item</a>
          <a href="/">Back Home</a>
        </nav>

      <div>
        <h2>Choose a Category:</h2>
        <% for( let i=0; i < category.length; i++ ) { %>
          <a href="/grocery-items/category/<%=category[i]%>"><%=category[i]%></a>
          <% } %>
      </div>

      <div>
        <h2>Shopping items: </h2>

        <% for( let i=0; i < groceryItem.length; i++ ) { %>
            <li><a href="/grocery-items/<%=groceryItem[i]._id%>"> <%=groceryItem[i].name%></a>
            <br/><a href="/grocery-items/<%=groceryItem[i]._id%>/edit">Edit</a>
            <form action="/grocery-items/<%=groceryItem[i]._id%>?_method=DELETE" method="POST"><input type="submit" value="DELETE" /></form>
          </li>
          <% } %>

      </div>
    </body>
</html>
